{% extends 'user/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xl-6">
      <div class="container">
        {% for post in post %}
        <h1><a href="{{post.get_absolute_url}}">{{ post.title }}</a></h1>
        {{post.content|truncatewords:45|linebreaks}}
        <p>Posted by {{post.user}} on {{post.created}}
        <hr>
        {% endfor %}
        </div>
      </div>
      <div class="col-sm-6">
        <div class="container" align="right">
          {%if user.is_authenticated %}
          <a href="/post_question">Ask Question</a>
          {% else %}
          <h1>You are not logged in yet..</h1><br><br>
          <h5>If you are a member please login <a href="login">Login</a> </h5><br>
          <h5> Are you not a member, please register <a href="register">Register</a> </h5>
          {% endif %}
        </div>


    </div>

  </div>

</div>


{%endblock%}
